$primary-normal: #06121E;
$primary-dark: #040F1A;
$primary-light: #0C2135;

$secondary-normal: #233B54;
$secondary-dark: #1C2F43;
$secondary-light: #2A4765;

$white-normal: #FFFFFF;
$white-dark: #F9F9F9;
$white-light: #FFFFFF; 